.loader {
  text-align: center;
  margin: 50% 0;

  $size-spinner: 50px;
  ion-spinner {
    width: $size-spinner;
    height: $size-spinner;
    svg * {
      stroke: color($colors, primary, base) !important;
    }
  }
}
