photo-card {
  display: flex;
  flex:1 ;
  min-height: 150px;
  max-width: 640px;

  ion-card {
    flex: 1 auto;
    margin: 0 !important;
    width: 100% !important;

    ion-avatar img{
      height: 50px;
      min-width: 50px !important;
      min-height: 50px !important;
      max-width: 640px;
    }
    ion-card-content {
      display: flex;
      align-content: center;
      justify-content: flex-start;
      min-height: 50px;
    }

    .item-buttons {
      padding-left: 0;
      height: 50px !important;

      .button-large-ios, .button-large-md {
        padding: 0 .5em;
      }

      .label-ios, .label-md {
        margin: 0;
      }
    }

    ion-list {
      .item-block {
        min-height: 2.4rem;
      }
      ion-item {
        border: none;

        ion-label {
          font-size: 0.8em;
          margin: 7px 0 !important;
        }
      }
    }

  }
}
