<ion-card>
    <ion-item>
        <ion-avatar (click)="openProfile(item.user.username)" item-left>
            <img *ngIf="item.user.photo" [src]="item.user.photo" width="40px" height="40px">
            <img *ngIf="!item.user.photo" src="assets/img/user.png">
        </ion-avatar>
        <h2 (click)="openProfile(item.user.username)">{{item.user.name || item.user.username }}</h2>

        <ion-note item-right>{{item.createdAt | amTimeAgo}}</ion-note>

        <button (click)="openPopover($event)" ion-button large clear item-right>
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-item>

    <img-progressive class="img-gallery"
                     [src]="item['image']"
                     [srcLow]="item['imageLow']">

    </img-progressive>

    <ion-card-content *ngIf="item.title">
        <p>{{item.title}}</p>
    </ion-card-content>

    <ion-item class="item-buttons">
        <button [disabled]="item.loading" ion-button large clear (click)="onLike(item)">
            <ion-icon *ngIf="!item.isLiked" large name="ios-heart-outline"></ion-icon>
            <ion-icon *ngIf="item.isLiked" large name="ios-heart"></ion-icon>
        </button>
        <button ion-button large clear (click)="openComments(item)">
            <ion-icon name="ios-text-outline"></ion-icon>
        </button>
        <button (click)="sharePhoto(item)" ion-button large clear>
            <ion-icon name="ios-return-right"></ion-icon>
        </button>

        <button (click)="openAlbum(item.album)" ion-button large clear>
            {{item.album.title}}
        </button>
        <button [disabled]="item.loadingBookmark" (click)="onBookmark(item)" ion-button item-right large clear>
            <ion-icon *ngIf="!item.isBookmark" name="ios-bookmark-outline"></ion-icon>
            <ion-icon *ngIf="item.isBookmark" name="ios-bookmark"></ion-icon>
        </button>


    </ion-item>
    <ion-item>
        <ion-note>
            <ion-icon name="ios-heart"></ion-icon>
            {{item.likesTotal}} {{'likes' | translate}}
        </ion-note>
    </ion-item>
    <div padding>
        <p *ngFor="let comment of item.comments">
            <b>{{comment.user.name}}</b> {{comment.text}}
        </p>
    </div>

</ion-card>
