<ion-card>
    <ion-item>
        <ion-avatar (click)="openProfile(item.user.username)" item-left>
            <img-loader *ngIf="item.user.photo" [src]="item.user.photo._url" width="40px" height="40px"></img-loader>
            <img *ngIf="!item.user.photo" src="assets/img/user.png" >
        </ion-avatar>
        <h2>{{item.user.name || item.user.username }}</h2>
        <p>{{item.user.status}}</p>

        <ion-note item-right>{{item.createdAt | amTimeAgo}}</ion-note>

        <button (click)="openPopover($event)" ion-button large clear item-right>
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-item>

    <img-loader class="img-gallery" [src]="item.image._url" [ngStyle]="{'min-height': _width, 'min-widht': _width}"></img-loader>

    <ion-card-content>
        <p>{{item.title}}</p>
    </ion-card-content>

    <ion-item class="item-buttons">
        <button *ngIf="!loadingLike" ion-button large clear (click)="onLike(item)">
            <ion-icon *ngIf="!item.isLiked" large name="ios-heart-outline"></ion-icon>
            <ion-icon *ngIf="item.isLiked" large name="ios-heart"></ion-icon>
        </button>
        <ion-spinner *ngIf="loadingLike"></ion-spinner>
        <button ion-button large clear (click)="openComments(item)">
            <ion-icon name="ios-text-outline"></ion-icon>
        </button>
        <button (click)="sharePhoto(item)" ion-button large clear>
            <ion-icon name="ios-return-right"></ion-icon>
        </button>

        <button (click)="openAlbum(item.album)" ion-button large clear>
            {{item.album.title}}
        </button>


        <button *ngIf="!loadingLike" ion-button large clear (click)="onLike(item)" style="float: right">
            <ion-icon *ngIf="!item.isLiked" large name="ios-bookmark-outline"></ion-icon>
            <ion-icon *ngIf="item.isLiked" large name="ios-bookmark"></ion-icon>
        </button>

    </ion-item>
    <ion-item>
        <ion-note >
            <ion-icon name="ios-heart"></ion-icon>
            {{item.likesTotal}} {{'likes' | translate}}
        </ion-note>
    </ion-item>
    <div padding>
        <p *ngFor="let comment of item.comments">
            <b>{{comment.user.name}}</b> {{comment.text}}
        </p>
    </div>

</ion-card>