<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{appName}}</ion-title>
    </ion-navbar>

    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="authType" color="primary">
            <ion-segment-button value="login">{{'Login' | translate}}</ion-segment-button>
            <ion-segment-button value="signup">{{'Signup' | translate}}</ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>
<ion-content>

    <div [ngSwitch]="authType">
        <form *ngSwitchCase="'login'" [formGroup]="formLogin" #rFormLogin="ngForm" (ngSubmit)="login(rFormLogin)">
            <ion-list>
                <ion-item>
                    <ion-label floating>{{'Username' | translate}}</ion-label>
                    <ion-input type="text" formControlName="username"></ion-input>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formLogin.controls.username.pristine && !formLogin.controls.username.valid">
                    <p class="form-error" item-right
                       *ngIf="!formLogin.controls.username.pristine && formLogin.controls.username.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                    <p class="form-error" item-right
                       *ngIf="!formLogin.controls.username.pristine && formLogin.controls.username?.errors?.minlength">
                        {{'Password must have more than 4 characters' | translate}}
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label floating>{{'Password'|translate}}</ion-label>
                    <ion-input [type]="inputPasswordType" formControlName="password"></ion-input>
                    <a ion-button clear (click)="toggleInputPassword()" item-right>
                        <ion-icon [name]="inputPasswordIcon"  ></ion-icon>
                    </a>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formLogin.controls.password.pristine && !formLogin.controls.password.valid">
                    <p class="form-error" item-right
                       *ngIf="!formLogin.controls.password.pristine && formLogin.controls.password.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                    <p class="form-error" item-right
                       *ngIf="!formLogin.controls.password.pristine && formLogin.controls.password?.errors?.minlength">
                        {{'Password must have more than 6 characters' | translate}}
                    </p>

                </ion-item>
            </ion-list>
            <ion-row>
                <ion-col>
                    <a ion-button block clear full (click)="resetPassword()">{{'Forgot Password'|translate}}</a>
                </ion-col>
                <ion-col>
                    <button ion-button block full color="primary" type="submit">{{'Log in' | translate}}
                    </button>
                </ion-col>
            </ion-row>
        </form>

        <form *ngSwitchCase="'signup'" [formGroup]="formSignup" #rFormSignup="ngForm"
              (ngSubmit)="createUser(rFormSignup)">
            <ion-list>
                <ion-item>
                    <ion-label floating>{{'Name'| translate}} *</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formSignup.controls.name.pristine && !formSignup.controls.name.valid">
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.name.pristine && formSignup.controls.name.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label floating>{{'Email' | translate}} *</ion-label>
                    <ion-input #email type="email" formControlName="email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formSignup.controls.email.pristine && !formSignup.controls.email.valid">
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.email.pristine && formSignup.controls.email.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                </ion-item>

                <!--Username-->
                <ion-item>
                    <ion-label floating>{{'Username' | translate}} *</ion-label>
                    <ion-input #username type="text" formControlName="username"></ion-input>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formSignup.controls.username.pristine && !formSignup.controls.username.valid">
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.username.pristine && formSignup.controls.username.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label floating>{{ 'Password' | translate }} *</ion-label>
                    <ion-input #password [type]="inputPasswordType" formControlName="password"></ion-input>
                    <a ion-button clear (click)="toggleInputPassword()" item-right>
                        <ion-icon [name]="inputPasswordIcon"  ></ion-icon>
                    </a>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formSignup.controls.password.pristine && !formSignup.controls.password.valid">
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.password.pristine && formSignup.controls.password.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.password.pristine && formSignup.controls.password?.errors?.minlength">
                        {{'Password must have more than 5 characters' | translate}}
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label floating>{{'Confirm password' | translate}} *</ion-label>
                    <ion-input [type]="inputPasswordType" formControlName="passwordConfirmation"></ion-input>
                </ion-item>
                <ion-item class="form-error-list"
                          *ngIf="!formSignup.controls.passwordConfirmation.pristine && !formSignup.controls.passwordConfirmation.valid">
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.passwordConfirmation.pristine && formSignup.controls.passwordConfirmation.hasError('required')">
                        {{'This is a required field.' | translate}}
                    </p>
                    <p class="form-error" item-right
                       *ngIf="!formSignup.controls.passwordConfirmation.pristine && formSignup.controls.passwordConfirmation?.errors?.minlength">
                        {{'Password must have more than 5 characters' | translate}}
                    </p>
                </ion-item>
            </ion-list>
            <ion-row>
                <ion-col>
                    <button type="submit" full ion-button block color="primary">{{'Sign up' | translate}}</button>
                </ion-col>
            </ion-row>
        </form>
    </div>

    <ion-row>
        <ion-col><a ion-button block icon-left color="facebook" (click)="loginFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
            {{'Signup with Facebook' | translate }}</a>
        </ion-col>
    </ion-row>

</ion-content>
