page-tab-home {
  .scroll-content {
    background-color: #f7f7f7;

    .img-gallery {
      min-height: 425px;
      background-color: #f1f1f1;
    }

    ion-card {
      margin: 0 !important;
      width: 100% !important;
    }
  }

  ion-col {
    padding: 0;
  }
}
