<ion-header>
    <ion-toolbar  no-border-top>
        <ion-segment>
            <ion-segment-button  value="public">{{'Following' | translate}}</ion-segment-button>
            <ion-segment-button  value="followers">{{'You' | translate}}</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <loader *ngIf="loading && !data.length" ></loader>

    <ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="data.length">
        <ion-list>

            <ion-item *ngFor="let item of data">
                <ion-avatar item-left>
                    <img *ngIf="item.user.photo" src="{{item.user.photo.url()}}">
                    <img *ngIf="!item.user.photo" src="assets/img/user.png">
                </ion-avatar>
                <h2>{{item.user.username}}</h2>
                <div class="text">{{item.action }}</div>
                <div item-right>
                    <button ion-button>
                        <span *ngIf="!item.user.isFollow">follow</span>
                        <span *ngIf="item.user.isFollow">unfollow</span>
                    </button>
                </div>
            </ion-item>

        </ion-list>
    </div>

    <ion-infinite-scroll primary (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

