<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Activities'| translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <loader *ngIf="loading && !data.length"></loader>

  <ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of data">
      <ion-avatar (click)="profile(item.user.username)" item-left>
        <img *ngIf="item.user.photo" src="{{item.user.photo.url()}}">
        <img *ngIf="!item.user.photo" src="assets/img/user.png">
      </ion-avatar>
      <h3 (click)="profile(item.user.username)">{{item.user.username}}</h3>
      <p>{{item.action | translate }}</p>
      <div *ngIf="!item.user.isFollow" item-right>
        <button ion-button outline>
          + {{'Follow' | translate }}
        </button>
      </div>
      <div *ngIf="item.user.isFollow" item-right>
        <button ion-button>
          - {{'Unfollow' | translate }}
        </button>
      </div>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll primary (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
