ph
<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'Profile'| translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="profile-top">
        <ion-row>
            <ion-col width-25>
                <div class="img-avatar">
                    <img *ngIf="profile.photo" [src]="profile.photo._url"/>
                    <img *ngIf="!profile.photo" src="assets/img/user.png"/>
                </div>
            </ion-col>
            <ion-col width-75>
                <ion-row>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loadingProfile"></ion-spinner>
                        <b *ngIf="!loadingProfile">{{ profile.galleriesTotal || 0}}</b>
                        <p>posts</p>
                    </ion-col>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loadingProfile"></ion-spinner>
                        <b *ngIf="!loadingProfile">{{ profile.followersTotal || 0}}</b>
                        <p>followers</p>
                    </ion-col>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loadingProfile"></ion-spinner>
                        <b *ngIf="!loadingProfile">{{ profile.followingsTotal || 0}}</b>
                        <p>following</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div *ngIf="loadingProfile" class="text-center">
                            <ion-spinner></ion-spinner>
                        </div>
                        <div *ngIf="!loading">
                            <button *ngIf="profile.isFollow" ion-button block color="primary" small>
                                Unfollow
                            </button>
                            <button *ngIf="!profile.isFollow" outline ion-button block color="primary" small>
                                Follow
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <div class="profile-desc">
        <ion-row>
            <ion-col>
                <h3>{{ profile.name }}</h3>
                <p>{{ profile.status }}</p>
            </ion-col>
        </ion-row>
    </div>

    <ion-segment [(ngModel)]="type" color="primary">
        <ion-segment-button (ionSelect)="onSelectType('list')" value="list">
            <ion-icon name="ios-list-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('grid')" value="grid">
            <ion-icon name="ios-apps-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('album')" value="album">
            <ion-icon name="ios-image-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('map')" value="map">
            <ion-icon name="ios-pin-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <photo-list *ngIf="type=='list'"></photo-list>
    <photo-grid *ngIf="type=='grid'"></photo-grid>
    <album-grid *ngIf="type=='album'"></album-grid>
    <photo-map *ngIf="type=='map'"></photo-map>

    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
