<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'Chat' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <loader *ngIf="loading && !data.length"></loader>
    <!-- error -->
    <div class="center" *ngIf="showErrorView" padding>
        <div class="error ">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Connection unavailable' | translate }}</p>
            <button ion-button color="primary" (click)="doTry()">
                {{ 'Try again' | translate }}
            </button>
        </div>
    </div>
    <!-- empty-->
    <div class="center" *ngIf="showEmptyView" padding>
        <div class="error">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Photos not found' | translate }}</p>
        </div>
    </div>

    <ion-list *ngIf="!loading">
        <ion-item *ngFor="let item of data">
            <ion-avatar *ngIf="item.user.id == user.id" item-left="">
                <img *ngIf="item.user.photo" [src]="item.user.photo._url">
                <img *ngIf="!item.user.photo" src="assets/img/user.png">
            </ion-avatar>

            <ion-avatar *ngIf="item.user.id != user.id" item-right="">
                <img *ngIf="item.user.photo" [src]="item.user.photo._url">
                <img *ngIf="!item.user.photo" src="assets/img/user.png">
            </ion-avatar>

            {{item.message}}

            <ion-note item-right>{{item.createdAt | amTimeAgo}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-input [(ngModel)]="form.message" type="text" placeholder="Message"></ion-input>
        <ion-buttons end>
            <button ion-button color="primary" (click)="onSendMessage()">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>