<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button clear (click)="dismiss(true)">
                {{'Cancel' | translate}}
            </button>
        </ion-buttons>
        <ion-title>{{'Share' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="submit(shareImageForm)">
                {{'Next' | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #shareImageForm="ngForm" (ngSubmit)="submit(shareImageForm)" novalidate>
        <ion-list>
            <ion-item>
                <ion-thumbnail item-left>
                    <img (click)="dismiss()" [src]="image">
                </ion-thumbnail>
                <ion-textarea [(ngModel)]="form.title"
                              name="title"
                              placeholder="{{'Write a caption...' | translate}}"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>{{'Privacity' | translate}}</ion-label>
                <ion-select [(ngModel)]="form.privacity" name="privacity">
                    <ion-option value="public">{{'Public' | translate}}</ion-option>
                    <ion-option value="followers">{{'Followers' | translate}}</ion-option>
                    <ion-option value="me">{{'Me' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <!-- Album -->
            <album-input></album-input>
            <!-- Location -->
            <ion-item>
                <ion-icon name="pin" item-left></ion-icon>
                <div *ngIf="address['resume']">
                    <h2>{{address['resume']}}</h2>
                    <ion-icon name="close" (click)="clearAddress()" icon-right></ion-icon>
                </div>
                <div (click)="showAddressModal()" *ngIf="!address['resume']">
                    <h2>{{ 'Location' | translate}}</h2>
                </div>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

