// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// ion-content {
//   max-width: 640px;
//   margin: 0 auto;
//   position: relative !important;
// }

.invalid {
  border: 1px solid #ea6153;
}

.background {
  background-image: url(../assets/img/splash2.png);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  //background-color: #dedede;
  ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00786c+0,c8dc3d+99 */
  //background: rgb(0, 120, 108); /* Old browsers */
  //background: -moz-linear-gradient(top, rgba(0, 120, 108, 1) 0%, rgba(200, 220, 61, 1) 99%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top, rgba(0, 120, 108, 1) 0%, rgba(200, 220, 61, 1) 99%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom, rgba(0, 120, 108, 1) 0%, rgba(200, 220, 61, 1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00786c', endColorstr='#c8dc3d', GradientType=0); /* IE6-9 */
  //
  //ion-item, .ion-item, .item-ios, .item-md, .label-md {
  //  background: transparent;
  //  color: #fff;
  //  border: none;
  //  ion-icon {
  //    color: #fff;
  //  }
  //}
  //
  //input, .text-input {
  //  $placeholder-color: rgba(255,255,255,0.4) !default;
  //  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  //    color: $placeholder-color;
  //  }
  //  &::-moz-placeholder { /* Firefox 19+ */
  //    color: $placeholder-color;
  //  }
  //  &:-ms-input-placeholder { /* IE 10+ */
  //    color: $placeholder-color;
  //  }
  //  &:-moz-placeholder { /* Firefox 18- */
  //    color: $placeholder-color;
  //  }
  //}
  //
  //.item-block:last-child, .item-inner {
  //  border-bottom: 0.55px solid rgba(255, 255, 255, 0.18) !important;
  //}
  //
  //.item-block:first-child {
  //  border-top: none;
  //}
  //
  //.form-error {
  //  color: #f00;
  //}
  //
  //[icon-left] ion-icon {
  //  left: 20px;
  //  position: absolute;
  //  top: 0;
  //  line-height: 35px;
  //}
}

.logo {
  display: inline-block;
  height: 37px;
}

ion-modal {
  z-index: 1000 !important;
}

img {
  background-color: #f1f1f1;
}

.toolbar-md {
  padding: 0;
  ion-segment {
    min-height: 56px !important;

    ion-segment-button {
      min-height: 56px !important;
      line-height: 56px !important;
    }
  }
}

// Map Scss
ion-app.ios, ion-app.md, ion-app.wp {
  background-color: transparent !important;
}

.scroll {
  height: 100%;
}

scroll-content._gmaps_cdv_ {
  background-color: transparent !important;
  padding: 0px !important;
}

ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

#map {
  width: 100%;
  height: 100%;
}

ion-avatar {
  img {
    max-width: 3.6rem;
    max-height: 3.6rem;
    border-radius: 1.8rem;
    display: block;
  }
}

// Toolbar Color fix
.toolbar-md-primary {
  ion-segment-button.segment-button {
    &.segment-activated {
      border-bottom: 4px solid #fff !important;
      color: #fff !important;
    }
    color: #fff;
  }
}

.toolbar-wp-primary {
  ion-segment-button.segment-button {
    &.segment-activated {
      color: #fff !important;
    }
    color: #fff;
  }
}

.toolbar-ios-primary {
  ion-segment-button.segment-button {
    border-color: rgba(255, 255, 255, 0.35);
    &.segment-activated {
      color: #fff !important;
      background-color: darken($primary, 5);
    }
    color: #fff;
  }
}

// Center
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  height: 100%;

  ion-icon {
    color: #A2A6A9;
    font-size: 5em;
  }

  p {
    font-size: 1.5em;
    color: #A2A6A9;
  }
}
