// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  max-width: 700px;
  margin: 0 auto;
  position: relative !important;
}

.logo {
  display: inline-block;
  height: 37px;
}

ion-modal {
  z-index: 1000 !important;
}

img {
  background-color: #f1f1f1;
}

.toolbar-md {
  padding: 0 !important;
  ion-segment {
    min-height: 56px !important;

    ion-segment-button {
      min-height: 56px !important;
      line-height: 56px !important;
    }
  }
}

// Map Scss
ion-app.ios, ion-app.md, ion-app.wp {
  background-color: transparent !important;
}

.scroll {
  height: 100%;
}

scroll-content._gmaps_cdv_ {
  background-color: transparent !important;
  padding: 0px !important;
}

ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

#map {
  width: 100%;
  height: 100%;
}

ion-avatar {
  img {
    max-width: 3.6rem;
    max-height: 3.6rem;
    border-radius: 1.8rem;
    display: block;
  }
}

// Toolbar Color fix
.toolbar-md-primary {
  ion-segment-button.segment-button {
    &.segment-activated {
      border-bottom: 4px solid #fff !important;
      color: #fff !important;
    }
    color: #fff;
  }
}

.toolbar-wp-primary {
  ion-segment-button.segment-button {
    &.segment-activated {
      color: #fff !important;
    }
    color: #fff;
  }
}

.toolbar-ios-primary {
  ion-segment-button.segment-button {
    border-color: rgba(255, 255, 255, 0.35);
    &.segment-activated {
      color: #fff !important;
      background-color: darken($primary, 5);
    }
    color: #fff;
  }
}

// Center
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  height: 100%;

  ion-icon {
    color: #A2A6A9;
    font-size: 5em;
  }

  p {
    font-size: 1.5em;
    color: #A2A6A9;
  }
}