page-intro {
  $flex-phone: 8;
  ion-slide {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-content: center;

    button {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .slide-zoom {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      width: 100%;
      text-align: center;
      height: 100%;
      flex-direction: column;
    }
    .view-welcome {
      flex: 1;
      flex-direction: column;
      align-items: center;

      max-width: 800px;

      .logo {
        max-width: 60%;
        background: transparent;
        margin-bottom: 40px;
      }
    }
    .phone,
    .text-content {
      // border: 1px solid red;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
    }
    .phone {
      -webkit-box-flex: $flex-phone; /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: $flex-phone; /* OLD - Firefox 19- */
      -webkit-flex: $flex-phone; /* Chrome */
      -ms-flex: $flex-phone; /* IE 10 */
      flex: $flex-phone; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-items: flex-end;
      overflow: hidden
    }
    .text-content {
      flex: 1;
      flex-direction: column;
      align-items: center;
      color: #fff;
      padding: 10px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

      .container {
        width: 90%;
        max-width: 800px;
        button {
          margin-bottom:10px;
        }
        .logo {
          background-color: transparent;
          max-width: 400px;
          width: 80%;
          margin-bottom: 40px;
        }
      }
      h1, p {
        padding: 0;
        margin: 0
      }

    }
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  .phone {
    position: relative;
    width: 80%;
    height: 736px;
    max-width: 414px;
    margin: 0 auto;
    margin-top: 10%;

    &.iphone {
      background-image: url(../assets/img/devices/iphone.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 80%;
      max-width: 407px;
      min-width: 270px;
      img {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 79%;
        top: 30px;
        left: 28px;
      }
    }
    &.android {
      background-image: url(../assets/img/devices/android.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 90%;
      max-width: 340px;
      min-width: 290px;
      img {
        display: flex;
        margin: 0 auto;
        position: absolute;
        width: 83%;
        top: 72px;
        left: 27px;
        max-height: none;
      }
    }
  }
  //
  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.1);
  }

}
