<loader *ngIf="loading && !data.length"></loader>
<!-- error -->
<div class="center" *ngIf="showErrorView" padding>
    <div class="error ">
        <ion-icon [name]="errorIcon"></ion-icon>
        <p>{{ "errorText" | translate }}</p>
        <button ion-button color="primary" (click)="onQuery()">{{ 'tryAgainText' | translate }}</button>
    </div>
</div>
<!-- empty-->
<div class="center" *ngIf="showEmptyView" padding>
    <div class="error">
        <ion-icon [name]="errorIcon"></ion-icon>
        <p>{{ 'Album not found' | translate }}</p>
    </div>
</div>
<div *ngFor="let item of data; let index = index">

    <ion-row *ngIf="index % 3 === 0 ">
        <ion-col width-50 *ngIf="index < data.length && data[index].create">
            <img (click)="albumForm()" src="assets/img/albumnew.png"/>
        </ion-col>
        <ion-col width-33 *ngIf="index < data.length && !data[index].create">
            <img (click)="openPhoto(data[index])" [src]="data[index].imageThumb.url()"
                        [ngStyle]="{'min-height': _width, 'min-widht': _width}"/>
        </ion-col>
        <ion-col width-33 *ngIf="index +1 < data.length && !data[index].create">
            <img (click)="openPhoto(data[index+1])" [src]="data[index+1].imageThumb.url()"
                        [ngStyle]="{'min-height': _width, 'min-widht': _width}"/>
        </ion-col>
        <ion-col width-33 *ngIf="index +2 < data.length && !data[index].create">
            <img (click)="openPhoto(data[index+2])" [src]="data[index+2].imageThumb.url()"
                        [ngStyle]="{'min-height': _width, 'min-widht': _width}"/>
        </ion-col>
    </ion-row>
</div>
