album-grid {

  ion-card-title {
    font-size: 1em !important;
    padding:0px !important;
  }

   ion-row {
     ion-col {

       img{
         $size: 126px;
         min-height: $size;
         min-width: $size;
         background-color: #f7f7f7;
       }
     }
   }
}
