<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'Profile' | translate}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" #rForm="ngForm" (ngSubmit)="submitProfile(rForm)">
        <div class="item-avatar" (click)="openCapture()">
            <image-capture #image (imageChange)="changePhoto($event)">
                <ion-avatar>
                    <img *ngIf="photo" [src]="photo">
                    <img *ngIf="!photo" src="assets/img/user.png">
                </ion-avatar>
                <button ion-button color="primary"><ion-icon name="camera"></ion-icon></button>
            </image-capture>
        </div>
        <ion-list>
            <ion-item>
                <ion-icon name="calendar" item-left></ion-icon>
                <ion-input formControlName="name" type="text" placeholder="{{'Name' | translate}}"></ion-input>
            </ion-item>
            <ion-item class="form-error-list"
                      *ngIf="!form.controls.name.pristine && !form.controls.name.valid">
                <p class="form-error" item-right
                   *ngIf="!form.controls.name.pristine && form.controls.name.hasError('required')">
                    {{'This is a required field.' | translate}}
                </p>
            </ion-item>
            <ion-item>
                <ion-icon name="person" item-left></ion-icon>
                <ion-input formControlName="username" type="text" placeholder="{{'Username' | translate}}"></ion-input>
            </ion-item>
            <ion-item class="form-error-list"
                      *ngIf="!form.controls.username.pristine && !form.controls.username.valid">
                <p class="form-error" item-right
                   *ngIf="!form.controls.username.pristine && form.controls.username.hasError('required')">
                    {{'This is a required field.' | translate}}
                </p>
            </ion-item>
            <ion-item>
                <ion-icon name="compass" item-left></ion-icon>
                <ion-input formControlName="website" type="text" placeholder="{{'Website' | translate}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="quote" item-left></ion-icon>
                <ion-input formControlName="status" type="text" placeholder="{{'Status' | translate}}"></ion-input>
            </ion-item>
            <ion-item-divider>
                {{'PRIVATE INFORMATION' | translate}}
            </ion-item-divider>
            <ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <ion-input formControlName="email" type="text" placeholder="{{'Email' | translate}}"></ion-input>
            </ion-item>
            <ion-item class="form-error-list"
                      *ngIf="!form.controls.email.pristine && !form.controls.email.valid">
                <p class="form-error" item-right
                   *ngIf="!form.controls.email.pristine && form.controls.email.hasError('required')">
                    {{'This is a required field.' | translate}}
                </p>
            </ion-item>
            <ion-item>
                <ion-icon name="calendar" item-left></ion-icon>
                <ion-datetime formControlName="birthday"
                              displayFormat="MM/DD/YYYY"
                              placeholder="MM/DD/YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-icon name="phone-portrait" item-left></ion-icon>
                <ion-input formControlName="phone" type="text" placeholder="{{'Phone' | translate}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="man" item-left></ion-icon>
                <ion-select formControlName="gender">
                    <ion-option value="male" checked="true">{{'Male' | translate}}</ion-option>
                    <ion-option value="female">{{'Female' | translate }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button block>{{'Submit' | translate}}</button>
        </div>
    </form>
</ion-content>
