<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Album Photos</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="popover($event)">
          <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <loader *ngIf="loading && !data.length"></loader>
  <div *ngFor="let item of data; let index = index">
    <ion-row *ngIf="index % 3 === 0 ">
      <ion-col width-33 *ngIf="index < data.length">
        <img (click)="openPhoto(data[index])" [src]="data[index].imageThumb.url()" />
      </ion-col>
      <ion-col width-33 *ngIf="index +1 < data.length">
        <img (click)="openPhoto(data[index+1])" [src]="data[index+1].imageThumb.url()" />
      </ion-col>
      <ion-col width-33 *ngIf="index +2 < data.length">
        <img (click)="openPhoto(data[index+2])" [src]="data[index+2].imageThumb.url()" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
