<ion-list>
    <ion-item *ngIf="!item" (click)="openAlbumList()">
        <ion-thumbnail item-left>
            <img src="assets/img/albumnone.png">
        </ion-thumbnail>
        <h2>{{'Select album'}}</h2>
    </ion-item>
    <ion-item *ngIf="item" (click)="openAlbumList()">
        <ion-thumbnail item-left>
            <img *ngIf="!item.imageThumb" src="assets/img/albumnew.png" alt="">
            <img *ngIf="item.imageThumb" [src]="item.imageThumb._url">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <p>{{item.qtyPhotos}}</p>
    </ion-item>
</ion-list>