<ion-header>
    <ion-navbar color="primary">
        <ion-searchbar [(ngModel)]="words" (ionInput)="doSearch()" (ionCancel)="doCancel()" [placeholder]="placeholder">
        </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <loader *ngIf="loading && !data.length"></loader>
    <div *ngFor="let item of data; let index = index">
        <ion-row *ngIf="index % 3 === 0 ">
            <ion-col width-33 *ngIf="index < data.length">
                <img-loader (click)="openPhoto(data[index])" [src]="data[index].imageThumb.url()"
                            [ngStyle]="{'min-height': _width, 'min-widht': _width}"></img-loader>
            </ion-col>
            <ion-col width-33 *ngIf="index +1 < data.length">
                <img-loader (click)="openPhoto(data[index+1])" [src]="data[index+1].imageThumb.url()"
                            [ngStyle]="{'min-height': _width, 'min-widht': _width}"></img-loader>
            </ion-col>
            <ion-col width-33 *ngIf="index +2 < data.length">
                <img-loader (click)="openPhoto(data[index+2])" [src]="data[index+2].imageThumb.url()"
                            [ngStyle]="{'min-height': _width, 'min-widht': _width}"></img-loader>
            </ion-col>
        </ion-row>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
