<ion-header>
    <ion-navbar color="primary">
        <ion-searchbar [(ngModel)]="search" (ionInput)="doSearch()" (ionCancel)="doCancel()"
                       [placeholder]="placeholder"></ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <loader *ngIf="loading "></loader>
    <!-- error -->
    <div class="center" *ngIf="showErrorView" padding>
        <div class="error ">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Connection unavailable' | translate }}</p>
            <button ion-button color="primary" (click)="doTry()">
                {{ 'Try again' | translate }}
            </button>
        </div>
    </div>
    <!-- empty-->
    <div class="center" *ngIf="showEmptyView" padding>
        <div class="error">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'users not found' | translate }}</p>
        </div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div *ngFor="let item of data">
            <ion-item>
                <ion-avatar (click)="profile(item.userObj.username)" item-left>
                    <img *ngIf="item.userObj.photo" [src]="item.userObj.photo.url()" width="40px"
                                height="40px"/>
                    <img *ngIf="!item.userObj.photo" src="assets/img/user.png">
                </ion-avatar>
                <h3 (click)="profile(item.userObj.username)">{{item.userObj.username}}</h3>
                <p>{{item.action | translate }}</p>
                <div *ngIf="!item.isFollow" item-right>
                    <button (click)="follow(item)" ion-button outline>
                        + {{'Follow' | translate }}
                    </button>
                </div>
                <div *ngIf="item.isFollow" item-right>
                    <button (click)="follow(item)" ion-button>
                        - {{'Unfollow' | translate }}
                    </button>
                </div>
            </ion-item>
            <ion-row *ngIf="item.galleries">
                <ion-col *ngFor="let gallery of item.galleries">
                    <img [src]="gallery.imageThumb._url"
                                [ngStyle]="{'min-height': _width, 'min-widht': _width}"/>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
