page-tab-capture {

  //html, body, ion-app, ion-content, ion-page, .nav-decor {
  //  background-color: transparent !important;
  //}

  ng-component.app-root {
    display: none !important;
  }
  ion-app.ios, ion-app.md, ion-app.wp {
    background-color: transparent !important;
  }

  .content-md {
    background-color: transparent !important;
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}
