page-tab-account {
  $avatar-size: 80px;
  .img-avatar {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: $avatar-size;
    width: $avatar-size;
    img {
      width: 100%;
    }
  }

  .text-center {
    display: block;
    text-align: center;
    b {
      font-size: 1.3em;
    }
  }
}
