page-tab-account {
  $avatar-size: 80px;

  .profile-top {
    ion-row {
      ion-col {
        p {
          padding: 0;
          margin: 0;
          color: #A5A7AA;
        }
      }
    }
  }

  .profile-desc {
    h3 {
      font-size: 1.2em;
      margin: 5px;
    }
    p {
      margin: 5px;
    }
  }

  .img-avatar {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: $avatar-size;
    width: $avatar-size;
    img {
      height: $avatar-size;
      width: $avatar-size;
    }
  }

  .text-center {
    display: block;
    text-align: center;
    b {
      font-size: 1.3em;
    }
  }
}
