<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'Account'| translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onPageSettings()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="profile-top">
        <ion-row>
            <ion-col width-25>
                <div class="img-avatar">
                    <img [src]="photo"/>
                </div>
            </ion-col>
            <ion-col width-75>
                <ion-row>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loading"></ion-spinner>
                        <b *ngIf="!loading">{{ profile.galleriesTotal || 0}}</b>
                        <p>{{'posts'|translate}}</p>
                    </ion-col>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loading"></ion-spinner>
                        <b *ngIf="!loading">{{ profile.followersTotal || 0}}</b>
                        <p>{{'followers'|translate}}</p>
                    </ion-col>
                    <ion-col class="text-center">
                        <ion-spinner *ngIf="loading"></ion-spinner>
                        <b *ngIf="!loading">{{ profile.followingsTotal || 0}}</b>
                        <p>{{'following'|translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button (click)="onEditProfile()" ion-button block color="primary" small>
                            {{'Edit Profile' | translate }}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <div class="profile-desc">
        <ion-row>
            <ion-col>
                <h3>{{ user.attributes.name }}</h3>
            </ion-col>
        </ion-row>
    </div>
    <ion-segment [(ngModel)]="type" color="primary">
        <ion-segment-button (ionSelect)="onSelectType('list')" value="list">
            <ion-icon name="ios-list-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('grid')" value="grid">
            <ion-icon name="ios-apps-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('album')" value="album">
            <ion-icon name="ios-image-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="onSelectType('bookmark')" value="bookmark">
            <ion-icon name="ios-bookmark-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <photo-list [event]="eventName" *ngIf="type=='list'"></photo-list>
    <photo-grid [event]="eventName" *ngIf="type=='grid'"></photo-grid>
    <album-grid [event]="eventName" *ngIf="type=='album'"></album-grid>
    <bookmark-photo-grid [event]="eventName" *ngIf="type=='bookmark'"></bookmark-photo-grid>
    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
