<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'Chats'| translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onModalChatForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <loader *ngIf="loading "></loader>
    <!-- error -->
    <div class="center" *ngIf="showErrorView" padding>
        <div class="error ">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Connection unavailable' | translate }}</p>
            <button ion-button color="primary" (click)="doTry()">
                {{ 'Try again' | translate }}
            </button>
        </div>
    </div>
    <!-- empty-->
    <div class="center" *ngIf="showEmptyView" padding>
        <div class="error">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Not chat' | translate }}</p>
        </div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>

        <ion-item *ngFor="let item of data" (click)="onPageMessage(item)">
            <ion-avatar item-left>
                <!-- One Chat-->
                <img *ngIf="item.profiles.length==1 && item.profiles[0]" [src]="item.profiles[0]">

                <!-- Group Chat -->
                <div *ngIf="item.profiles.length>1">
                    <img class="img" *ngIf="item.profiles[0]" [src]="item.profiles[0]">
                    <img class="img2" *ngIf="item.profiles[1]" [src]="item.profiles[1]">
                </div>
            </ion-avatar>

            <!--<ion-note item-right>{{item.obj.updatedAt | amTimeAgo}}</ion-note>-->

            <h2>{{item.title}}</h2>
            <p>{{item.message}}</p>
        </ion-item>
    </ion-list>

</ion-content>
